<div class="tab" id="honey-exclusives-tab">
  <div class="tab-handle waves-effect waves-dark">
    <span class="badge-icon instacash-value">h</span>
    <span class="title">honey exclusive</span>
    <span class="icon right-arrow">
      <span class="expand-icon">+</span>
    </span>
  </div>
  <div class="tab-content instant-cash-zone" id="give-a-buck">
    <div class="container exclusives">
      <div class="expire-banner">
        <span class="ss-clock"/>
        <span class="hours-left"></span> hrs 
        <span class="minutes-left"></span> mins left to redeem
      </div>
      <div class="vertical-wrapper">
        <div class="vertical-content">
          <div class="top-divider">
            <div class="vertical-wrapper">
              <div class="vertical-content">
                <div class="percentage instacash-value">
                  {{value_text}}
                </div>
                <div class="ic-prompt">
                  You got an Amazon buck!
                </div>
                <div class="terms">
                  *Offer valid only for new Honey users
                </div>
                <button class="activate waves-effect waves-light">
                  <span class="text">CLAIM</span> <span class="ss-check"/>
                </button>
              </div>
            </div>
          </div>
          <div class='bottom-divider'>
            <div class="divider"/>
            <div class="redemption-title">
              REDEMPTION
            </div>
            <div class="redemption-msg">
              Add something to your cart and go to checkout! (no purchase necessary)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="apply-codes" class="instant-cash-zone">
    <div class="content">
      <div class="container exclusives">
        <div class="title-banner">
          Your $1 will be applied when you try codes
        </div>
        <div class="vertical-wrapper">
          <div class="vertical-content">
            <div class="percentage code_count">
              {{code_count}}
            </div>
            <div class="ic-prompt">
              We found <span class="code_count">{{code_count}}</span> codes to try!
            </div>
            <div class="see-codes centered">
              <span class="see-codes-text">See the codes</span>
            </div>
            <button class="apply-button waves-effect waves-light">
              <span class="text">TRY CODES</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="cashback">
    <div id="cashback-activate" class="instant-cash-zone">
      <div class="content">
        <div class="container exclusives">
          <div class="vertical-wrapper">
            <div class="vertical-content">
              <div class="percentage cashback_text_value">
                {{cashback_text_value}}
              </div>
              <div class="ic-prompt">
                Honey Cash Back at <span class="store_name">{{store_name}}</span>!
              </div>
              <div class="terms centered">
                <span class="terms-text">Special terms & conditions ></span>
              </div>
              <button class="activate-cashback waves-effect waves-light">
                <span class="text">ACTIVATE CASHBACK</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="cashback-offers">

    </div>
  </div>

</div>
