<div class="container profile">
  <div class="user-profile">
    <div class="content loggedin">
      <div class="profile-header">
        <div class="user-image">
          <img class="image_url" src="http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg"/>
          <h2 class="full_name">{{name}}</h2>
        </div>
        <div class="username">
          {{username}}
        </div>
        <div class="bio">
          Born in Pella in 356 BC, Alexander the Great succeeded his father, Philip II, to the throne at the age of twenty. By the age of thirty he had created one of the largest empires of the ancient world, stretching from Greece to Egypt and into northwest India.
        </div>
      </div>
      <div class="profile-content">
        <div class="list-item profile">
          <span class="icon share-icon"></span>
          <span class="number num_products">{{num_products}}</span>
          <span class="description">products</span>
        </div>
        <div class="list-item profile">
          <span class="icon share-icon"></span>
          <span class="number num_followers">{{num_followers}}</span>
          <span class="description">followers</span>
        </div>
        <div class="list-item profile">
          <span class="icon share-icon"></span>
          <span class="number num_following">{{num_following}}</span>
          <span class="description">following</span>
        </div>
      </div>
    </div>
    <div class="content loggedout active loggedoutstate">
      <h1> Activate Exclusive Deals </h1>

      <div class="form login-form">
        <div class="input-field">
          <input class="form-username" type="text"/>
          <label for="email">Email or Username</label>
        </div>
        <div class="input-field">
          <input class="form-password" type="password"/>
          <label for="password">Password</label>
        </div>
        <button class="submit">log in</button>
        <button class="switch">register</button>
      </div>

      <div class="form register-form active">
        <div class="input-field">
          <input class="form-email" type="email"/>
          <label for="email">Email</label>
        </div>
        <div class="input-field">
          <input class="form-username" type="text"/>
          <label for="username">Username</label>
        </div>
        <div class="input-field">
          <input class="form-password" type="password"/>
          <label for="password">Password</label>
        </div>
        <button class="submit">register</button>
        <button class="switch">log in</button>
      </div>
      <div class="profile-footer">
        <div class="ext-links">
          <a href="javascript:;">settings</a>
          <a href="javascript:;">account</a>
        </div>
      </div>
    </div>
  </div>
</div>



